{% extends 'headers.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
{% block PM25_active %}active{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="header col-xs-6">
            <div class="aqi_title">
                <p>忘记什么时候，用描述代表空气</p>
                <img src="{% static 'aqi.png' %}">
            </div>
            <form method="post" action="{% url 'cx_pm25' %}">
                {% csrf_token %}
                <div class="search-bar clearf">
                    <input type="search" placeholder="城市名" name="city">
                    <button type="submit">查询</button>
                </div>
            </form>

        </div>


        <div class="col-xs-3"></div>
    </div>
     {% block context %}
         	<div class="row">
                <div class="col-xs-3"></div>
                <div class="content col-xs-6">
			<div class="panel panel-default">
			  <div class="panel-heading">当前位置[{{city_name_ip.city_name}}]</div>
			  <div class="panel-body">

			    {% if error_msg %}
			    <div class="alert alert-info" role="alert">
			    	{{error_msg}}
			    </div>
			    {% else %}


			  	<div class="aqi">
			  		<img src="{% static 'aqi.png' %}">
			  		<span class="aqi-val">AQI:{{city_name_ip.pm25_value}}</span>
                    <span class="level">{{city_name_ip.grade}}</span>
			  	</div>

			    <div class="alert alert-success" role="alert">
			    	{{city_name_ip.adive}}
			    </div>
			    <div class="alert alert-info" role="alert">
			    	{{city_name_ip.step}}
			    </div>
			    {% endif %}

			  </div>
			</div>
        </div>
            </div>

     {% endblock %}
{% endblock %}

